 <!--MODAL-->
<div class="modal fade " id="ModalChoiceCityFillIn" aria-hidden="false" aria-labelledby="ModalChoiceCityFillIn" role="dialog" tabindex="-1">

    <div class="modal-dialog modal-sidebar modal-sm">

        <div class="loader-choice">
            <div style="font-size: 23px;margin-top: -33px;" class="loader vertical-align-middle loader-ellipsis" data-type="default"></div>
        </div>


        <div class="modal-content">
            <div style="padding:0" class="modal-body">
                <button style="" type="button" class="close close-modal close-modal-close" data-dismiss="modal" aria-label="Close">
       <i class="icon ion-ios-arrow-back" aria-hidden="true"></i>
                            </button>
                <div class="panel-header-h noselect"><i class="icon io-briefcase" aria-hidden="true"></i> Выберите город</div>

                <div class="panel-search"><input class="select2-search__field" type="text"></div>

                <div class="noselect panel-group " id="AccordionContinuous" aria-multiselectable="true" role="tablist">

                </div>

            </div>
        </div>
    </div>
</div>
<!--END MODAL-->

<!--search for modal-->
<span style="position: absolute; top: 344px; left: 708px; display: none; background: red;" class="popover_search_list">
    <span style="min-width: 300px;" class="p_search_list_dropdown">
        <span class="p_search_list_results">
            <ul class="noselect p_search_list_results__options" role="tree" aria-multiselectable="true" aria-hidden="false">

            </ul>
        </span>
    </span>
</span>
<!--search for modal-->