{% load core_utils %}


                        <div class="panel-accordion">

                    <div class="panel-collapse " id="CollapseContinuousOne{{ topic.name|slugifys }}" aria-labelledby="HeadingContinuousOne{{ topic.name|slugifys }}" role="tabpanel" aria-expanded="false" >
                      <div class="panel-body">
                            <ul data-role="listview" class="ui-listview">

                                {% for it in geo %}
								<li class="ui-first-child">
  							           <h2 data-slug="{{ it.slug }}" data-id="{{ it.id }}" data-name="{{ it.region_name }}" class="choice-elem ct-city ">{{ it.region_name }}</h2>
					            </li>
                                {% endfor %}
							</ul>
                      </div>
                    </div>

                        </div>