 <!-- MODAL DETAIL LEAD -->
<div class="modal fade " id="ModalCabinetDetailLead" aria-hidden="false" aria-labelledby="ModalCabinetDetailLead" role="dialog" tabindex="-1">

    <div class="modal-dialog modal-sidebar modal-sm">

        <div class="loader-choice">
            <div style="font-size: 23px;margin-top: -33px;" class="loader vertical-align-middle loader-ellipsis" data-type="default"></div>
        </div>


        <div class="modal-content">
            <div style="padding:0" class="modal-body">
                <button style="" type="button" class="close close-modal close-modal-close" data-dismiss="modal" aria-label="Close">
                                <i class="icon ion-ios-arrow-back" aria-hidden="true"></i>
                </button>

                <div class="lead-detail-header">
                    <h1 class="lead-detail-header-title">Кредит наличными</h1>
                </div>

                <div class="lead-detail-content">

Кредит наличными

                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MODAL DETAIL LEAD -->