<div data-id="12" class="cabinet_lead promo_lead">
    <div class=" row_lead_content">
        <div class=" col-md-l text-center lead_one_promo">
            <h2 class="promo_lead_title">
                Кредит наличными
            </h2>

        </div>
        <div class="col-md-l text-center lead_arrow_promo">
            <img class="lead_arrow_promo_img" src="https://media.lpgenerator.ru/images/37005/arrow397ojcpejn.png#size_100x100" alt="" width="100" height="35">
        </div>
        <div class=" col-md-l text-center lead_two_promo">
            <h2 class="promo_lead_title">
                Сбербанк <br>и еще 12 банков
            </h2>
        </div>
    </div>


    <div class="progress-bar">
        <span class="progress-bar-label progress-bar-title">Сбор информации</span>
        <span class="progress-bar-value progress-bar-push "></span>
        <div class="progress-bar-bar-holder">
            <div class="progress-bar-bar">
                <span class="progress-bar-label progress-bar-title progress-bar-bar-label">Сбор информации</span>
                <span id="progress-bar-counter" class="progress-bar-value progress-bar-bar-label progress-bar-push"></span>
            </div>
        </div>
    </div>
</div>