<div id="cbh_mobile_widget_wrapper" class="cbh-ru">
    <div class="cbh-mobile-phone-wrapper" id="cbh_mobile_phone_wrapper" style="left: 0%; transform: scale(0.9, 0.9); bottom: 19px !important;">
        <a target="_self" class="cbh_oxiv_phone" id="cbh_mobile_phone_autocall">
            <div class="cbh-mobile-widget cbh-show" id="cbh_phone">
                <div class="cbh-widget-global-icon">
                    <div class="cbh-widget-bg"><span class="cbh-bg-icon"></span></div>
                    <div class="cbh-widget-content">
                        <div class="cbh-widget-phone cbh-rotate-icon">
                            <span class="cbh-widget-phone-icon">
                                <p class="cbh-widget-phone-icon-p">Скидка до 75%</p>
                            </span>
                        </div>
                        <div class="cbh-widget-call  ">
                          <span class="cbh-widget-call-icon">
                            <p class="cbh-widget-call-icon-p">Получить скидку</p>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>