
{% extends 'base.html' %}
{% load static %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/ionicons/ionicons.min.css' %}">
{% endblock %}

{% block content %}

<!-- start base block -->
<div class="header-fixed">
    <div id="hamburger" class="hamburglar is-open">
        <div class="top"></div>
             <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                    <path class="circle" fill="none" stroke-width="4" stroke-miterlimit="10" d="M16,32h32c0,0,11.723-0.306,10.75-11
                                    c-0.25-2.75-1.644-4.971-2.869-7.151C50.728,7.08,42.767,2.569,33.733,2.054C33.159,2.033,32.599,2,32,2C15.432,2,2,15.432,2,32
                                    c0,16.566,13.432,30,30,30c16.566,0,30-13.434,30-30C62,15.5,48.5,2,32,2S1.875,15.5,1.875,32"></path>
             </svg>
        <div class="bottom"></div>
    </div>
    <div id="search" class="header-search is-close">
        <i class="icon ion-ios-search" aria-hidden="true"></i>
    </div>
    <h1 class="header-title">itemo.ru</h1>
</div>
<!-- end base block -->

<!-- start base block -->
<div  class="page pages-step-1">
    <div class="super__block">

    <!-- step 1 start -->

    <div style="padding:0; display: block;" class="modal-body steper step-1">
	<div class="panel-header-block">
		<h1>​Товары и услуги<br>
            в <span id="choicecity" class="header-select-city"><span data-name="{% if geo %}{{ geo.region_name }}{% else %} в вашем городе {% endif %}" class="header-select-text">{% if geo %}{{ geo.region_name }}{% else %} в вашем городе {% endif %}</span> <i class="icon ion-ios-arrow-down" style="margin-right: 0" aria-hidden="true"></i></span>
        </h1>
        <h2>
            Скидка до 75%
        </h2>
	</div>




	<div class="noselect panel-group " id="AccordionContinuous" aria-multiselectable="true" role="tablist">
		<div class="panel-accordion">
			<div class="panel-collapse " id="CollapseContinuousOne" aria-labelledby="HeadingContinuousOne" role="tabpanel" aria-expanded="false">
				<div class="panel-body">

                    <ul data-role="listview " data-inset="true" data-split-icon="info" class="ui-listview new ui-listview-inset ui-corner-all ui-shadow">
	                    <li data-id="1" data-step="2" data-slug="Stroitelstvo" data-name="Строительство" class="ui-li-has-alt ui-li-has-thumb next-page ui-first-child">
	                        <a class="ui-btn choice-elem">
	                            <h2>Строительство</h2>
	                            <p>Скидка 50%</p>
	                        </a>
	                    </li>
                    </ul>

				</div>
			</div>
		</div>
	</div>

    </div>
    <!-- step 1 end -->

    </div>

</div>
<!-- end base block -->




{% include 'core/callback/callback-button.html' %}

{% include 'core/modal/modal-choice-city.html' %}

{% endblock %}