
{% extends 'base.html' %}
{% load static %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/ionicons/ionicons.min.css' %}">
{% endblock %}

{% block content %}

<!-- start base block -->
<div class="header-fixed">
    <div id="hamburger" class="hamburglar is-open">
        <div class="top"></div>
             <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                    <path class="circle" fill="none" stroke-width="4" stroke-miterlimit="10" d="M16,32h32c0,0,11.723-0.306,10.75-11
                                    c-0.25-2.75-1.644-4.971-2.869-7.151C50.728,7.08,42.767,2.569,33.733,2.054C33.159,2.033,32.599,2,32,2C15.432,2,2,15.432,2,32
                                    c0,16.566,13.432,30,30,30c16.566,0,30-13.434,30-30C62,15.5,48.5,2,32,2S1.875,15.5,1.875,32"></path>
             </svg>
        <div class="bottom"></div>
    </div>
    <div id="search" class="header-search is-close">
        <i class="icon ion-ios-search" aria-hidden="true"></i>
    </div>
    <h1 class="header-title">itemo.ru</h1>
</div>
<!-- end base block -->

<!-- start base block -->
<div style="overflow: auto" class="page ">
    <div class="super__block">

    <!-- step 1 start -->

    <div style="padding:0; display: block;" class="modal-body steper step-1">
	<div class="panel-header-block">
		<h1>​Товары и услуги<br>
            в <span id="choicecity" class="header-select-city"><span data-name="Тюмень" class="header-select-text">г. Тюмень</span> <i class="icon ion-ios-arrow-down" style="margin-right: 0" aria-hidden="true"></i></span>
        </h1>
        <h2>
            Скидка до 75%
        </h2>
	</div>




	<div class="noselect panel-group " id="AccordionContinuous" aria-multiselectable="true" role="tablist">
		<div class="panel-accordion">
			<div class="panel-collapse " id="CollapseContinuousOne" aria-labelledby="HeadingContinuousOne" role="tabpanel" aria-expanded="false">
				<div class="panel-body">

                    <ul data-role="listview " data-inset="true" data-split-icon="info" class="ui-listview new ui-listview-inset ui-corner-all ui-shadow">
	                    <li data-id="1" data-step="2" data-slug="kasko" data-name="Баня" class="ui-li-has-alt ui-li-has-thumb type-ins ui-first-child">
	                        <a class="ui-btn choice-elem">
	                            <img src="/static/images/icons/1_.png">
	                            <h2>Строительство</h2>
	                            <p>Скидка 50%</p>
	                        </a>
	                    </li>
                    </ul>

				</div>
			</div>
		</div>
	</div>

    </div>
    <!-- step 1 end -- >



         <!-- step 2 kasko start -->
        <div style="padding:0; display: none; " class="modal-body steper step-2 kasko">


            <div data-back="1" data-slug="kasko" class="steper-back">
                <i class="icon ion-ios-arrow-back" aria-hidden="true"></i>
            </div>
	        <div class="panel-header-h noselect">Длина строения</div>
	        <div class="noselect panel-group " id="AccordionContinuous" aria-multiselectable="true" role="tablist">
		        <div class="panel-accordion">
			        <div class="panel-collapse " id="CollapseContinuousOne" aria-labelledby="HeadingContinuousOne" role="tabpanel" aria-expanded="false">
				        <div class="panel-body">
					        <ul data-role="listview" class="ui-listview">

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="1" data-name="2 метра" class="choice-elem type-ins ct-elem ">2 метра</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="2" data-name="3 метра" class="choice-elem type-ins ct-elem ">3 метра</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="3" data-name="4 метра" class="choice-elem type-ins ct-elem ">4 метра</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="4" data-name="5 метров" class="choice-elem type-ins ct-elem ">5 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="5" data-name="6 метров" class="choice-elem type-ins ct-elem ">6 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="6" data-name="7 метров" class="choice-elem type-ins ct-elem ">7 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="7" data-name="8 метров" class="choice-elem type-ins ct-elem ">8 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="8" data-name="9 метров" class="choice-elem type-ins ct-elem ">9 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="9" data-name="10 метров" class="choice-elem type-ins ct-elem ">10 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="10" data-name="11 метров" class="choice-elem type-ins ct-elem ">11 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="11" data-name="12 метров" class="choice-elem type-ins ct-elem ">12 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="12" data-name="13 метров" class="choice-elem type-ins ct-elem ">13 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="13" data-name="14 метров" class="choice-elem type-ins ct-elem ">14 метров</h2>
						        </li>

						        <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="14" data-name="15 метров" class="choice-elem type-ins ct-elem ">15 метров</h2>
						        </li>

                                <li class="ui-first-child">
						            <h2 data-step="3" data-slug="kasko" data-id="15" data-name="Другая длина" class="choice-elem type-ins ct-elem ">Другая длина</h2>
						        </li>
					        </ul>
				        </div>
			        </div>
		        </div>
	        </div>
        </div>
        <!-- step 2 kasko end -->

    </div>

</div>
<!-- end base block -->


{% include 'core/modal/modal-choice-city.html' %}

{% endblock %}