.cabinet .page {
   /* width: 900px;
    margin: 0 auto;*/
    margin-top: 10px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}



/*** cabinet_leads_block ***/

.cabinet_leads_block  .cabinet_lead{
    min-height: 150px;
    width: 100%;
    border-radius: 5px;
    background: white;
    position: relative;
        padding: 5px 15px 20px 5px;
}

.cabinet_leads_block .row_lead_content{
    display: table;
    width: 100%;
    height: 100%;
}

.cabinet_leads_block .col-md-l{
    display: table-cell;
    vertical-align: middle;
}

.cabinet_lead.promo_lead .promo_lead_title{
    font: 34px/45px   Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.cabinet_lead.promo_lead{
    cursor: pointer;
}

.cabinet_lead.promo_lead:hover{
    background: #fafafa;
}

.cabinet_lead.promo_lead .lead_one_promo{
}

.cabinet_lead.promo_lead .lead_two_promo{
}
/*
.col-md-l{
    float: left;
width: 50%
}*/



.cabinet_leads_footer{
    text-align: center;
    margin-top: 50px;
}

.cabinet_add_lead {
    width: 60px;
    height: 60px;
    line-height: 60px!important;
    font-size: 41px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #dcdfe3;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    margin-top: -10px;
    display: inline-block;
    visibility: visible;
}

.cabinet_add_lead:hover {
    background-color: #e6e9ed;
}

.lead-detail-header{
    background: #F1F4F5;
    top: 0;
    transition: all 300ms ease-in-out;
    width: 100%;
    height: 56px;
}

.lead-detail-header .lead-detail-header-title {
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: #00aff2;
    font-weight: 500;
    font-family: Calibri;
    padding-top: 6px;
}

.lead-detail-content{
    padding: 20px;
}

/*** end cabinet_leads_block ***/

/*** detail lead ***/
#ModalCabinetDetailLead{
    z-index: 2000;
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}

#ModalCabinetDetailLead.active{
    display: block;
}

#ModalCabinetDetailLead.active .modal-dialog{
    display: block;
    z-index: 1999;
}

#ModalCabinetDetailLead.active .close-modal-close {
    opacity: 1;
    z-index: 1222;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    outline: none;
    width: 70px;
    height: 58px;
}

#ModalCabinetDetailLead .active .close .icon {
    color: #6D6D6D;
    font-size: 28px;
}
#ModalCabinetDetailLead .active .close:hover .icon {
    opacity: .6;
}

#ModalCabinetDetailLead.active .modal-sm {
    width: 100%!important;
}

/*** end detail lead ***/

/*** progress bar lead **/
.progress-bar  {
    width: 100%;
    background: WhiteSmoke;
    position: absolute;
    left: 0;
    bottom: -22px;
    height: 25px;
    padding-top: 5px;
}
.progress-bar-bar-holder {
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-animation: progression 5s ease-in-out 2s infinite;
          animation: progression 5s ease-in-out 2s infinite;
}

.progress-bar-bar {
  width: calc(100vw - 2em - 2px);
  height: 100%;
    padding-top: 5px;
  background: -webkit-linear-gradient(left, #FD5364, #FE7E8B 25%, #FCE96B 50%, #8CCD82 75%, #66BC58);
  background: linear-gradient(to right, #FD5364, #FE7E8B 25%, #FCE96B 50%, #8CCD82 75%, #66BC58);
        border-radius: 0px 5px 9px 5px;
}

.progress-bar-bar-label  {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}
.progress-bar-label  {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}
.progress-bar-push {
  float: right;
}

@-webkit-keyframes progression {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progression {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*** progress bar lead **/

.cabinet .panel-header-block{
    margin-top: 50px;
}

.cabinet.modal-open .header-fixed{
    display: none;
}

.cabinet.modal-open .panel-header-block{
    display: none;
}

.cabinet.modal-open .page{
    display: none;
}



@media (min-width: 992px){
   .lead_arrow_promo_img{
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
         margin-top: 17px;
           margin-left: -33%;
    }
}




@media screen and (max-width:880px) {
   .cabinet_lead.promo_lead .promo_lead_title {
        font: 20px/28px Helvetica, Arial, sans-serif;
         font-weight: 100;
    }

   .lead-detail-header .lead-detail-header-title{
           font-size: 18px;
    line-height: 44px;
   }

   .cabinet_leads_block .row_lead_content{
        display: block;
        width: 100%;
        height: 100%;
    }

    .cabinet_leads_block .col-md-l{
        display: block;
        vertical-align: middle;
    }
}