@font-face {
    font-family: pragmatica;
    src: url('/static/fonts/pragmatica/pragmatica-light-v2.eot?6b391e954a0a');
    src: url('/static/fonts/pragmatica/pragmatica-light-v2.eot?&6b391e954a0a#iefix') format('embedded-opentype'), url('/static/fonts/pragmatica/pragmatica-light-v2.woff?6b391e954a0a') format('woff'), url('/static/fonts/pragmatica/pragmatica-light-v2.ttf?6b391e954a0a') format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: pragmatica;
    src: url('/static/fonts/pragmatica/pragmatica-regular-v2.eot?ef20d1b2c8b7');
    src: url('/static/fonts/pragmatica/pragmatica-regular-v2.eot?&ef20d1b2c8b7#iefix') format('embedded-opentype'), url('/static/fonts/pragmatica/pragmatica-regular-v2.woff?0ecdd84a64cb') format('woff'), url('/static/fonts/pragmatica/pragmatica-regular-v2.ttf?0ecdd84a64cb') format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: pragmatica;
    src: url('/static/fonts/pragmatica/pragmatica-medium-v2.eot?ef20d1b2c8b7');
    src: url('/static/fonts/pragmatica/pragmatica-medium-v2.eot?&ef20d1b2c8b7#iefix') format('embedded-opentype'), url('/static/fonts/pragmatica/pragmatica-medium-v2.woff?ef20d1b2c8b7') format('woff'), url('/static/fonts/pragmatica/pragmatica-medium-v2.ttf?ef20d1b2c8b7') format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: pfhighway;
    src: url('/static/fonts/pragmatica/pfhighway-thin-v2.eot?91cefe886aad');
    src: url('/static/fonts/pragmatica/pfhighway-thin-v2.eot?&91cefe886aad#iefix') format('embedded-opentype'), url('/static/fonts/pragmatica/pfhighway-thin-v2.woff?91cefe886aad') format('woff'), url('/static/fonts/pragmatica/pfhighway-thin-v2.ttf?91cefe886aad') format('truetype');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: pfhighway;
    src: url('/static/fonts/pragmatica/pfhighway-extrathin_.eot?91cefe886aad');
    src: url('/static/fonts/pragmatica/pfhighway-extrathin_.eot?&91cefe886aad#iefix') format('embedded-opentype'), url('/static/fonts/pragmatica/pfhighway-extrathin.woff?9109242fc5eb') format('woff'), url('/static/fonts/pragmatica/pfhighway-extrathin.ttf?91cefe886aad') format('truetype');
    font-weight: 100;
    font-style: normal
}

body {
    background-color: #F1F4F5;
}

html , body{
    font-family: pfhighway, Helvetica, Arial, sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    height: 100%;
}

.super__block{
        width: 100%;
        margin:0 auto;
    height: 100%;
    position: relative;
    }
@media screen and (max-width: 767px) {
    .super__block{
       width: 100%;
    }
}

#UserChoicetFillIn .modal-dialog{
    display: block;
}


.panel-accordion {
    background: white;
}
.panel-accordion a.panel-title{
    border-bottom: 1px solid #DDDDDD;
    text-transform: uppercase;
        font-weight: 600;
}
.panel-accordion a.panel-title:active{
        background-color: #999;
    border-color: #999;
    color: #333;
}

.panel-accordion .panel-title:before{
    left: 10px!important;
    background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E") ;
    background-position: center center;
    background-repeat: no-repeat;
   background-color: rgba(0, 0, 0, 0.28);
    -webkit-border-radius: 1em;
    border-radius: 1em;
    content: ""!important;
    position: absolute;
    display: block;
    top: 10px!important;
    padding: 9px;
    width: 22px;
    height: 22px;
}
.panel-accordion .panel-title:after{
    left: 10px!important;
    background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20y%3D%225%22%20style%3D%22fill%3A%23FFFFFF%3B%22%20width%3D%2214%22%20height%3D%224%22%2F%3E%3C%2Fsvg%3E") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.28);
    -webkit-border-radius: 1em;
    border-radius: 1em;
    content: ""!important;
    position: absolute;
    display: block;
    top: 10px!important;
    padding: 9px;
    width: 22px;
    height: 22px;
}
.panel-accordion .panel-title{
        padding: 10px 5px 10px 40px!important;
}
.panel-accordion .panel-title:hover{
    text-decoration: none;
}
.panel-accordion .panel-title:after, .panel-accordion .panel-title:before {

    /*position: absolute;
    top: 0px;
    left: 5px;
    font-family: "Web Icons";
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;*/
}
.panel-accordion .ui-listview, .panel-accordion  .ui-listview>li {
    margin: 0;
    padding:0;
    list-style: none;

}
.panel-accordion  .ui-listview>li {
    border-bottom: 1px solid #D9D9D9;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.panel-accordion  li:hover > a, .panel-accordion  li:visited > a, .panel-accordion li:focus > a{
    background: #ededed!important;
}

/*.panel-accordion  li.act > a, .choice-elem.act{
    background: #ededed!important;
}
*/
.panel-accordion .ui-listview>li:focus:hover{
    background: #ededed!important;
}

.panel-accordion .ui-listview>li:hover{
    background: #ededed!important;
}

.panel-accordion  .ui-listview>li:active {
    background: #999!important;
}

.panel-accordion  .ui-listview>li:active a {
    background: #999!important;
}

.panel-accordion .ui-listview>li {
    display: block;
    position: relative;
    overflow: visible;
}



.panel-accordion .ui-listview > li h2, .panel-accordion .ui-listview > li h3, .panel-accordion .ui-listview > li h4, .panel-accordion .ui-listview > li h5, .panel-accordion .ui-listview > li h6
{
    font-size: 1em;
    font-weight: bold;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    padding: 12px 5px 12px 20px;
    cursor: pointer;
}
.panel-accordion .choice-elem:after{
    background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
       background-color: #666;
    background-color: rgba(0,0,0,.15);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
        right: .5625em;
        top: 50%;
    margin-top: -11px;
        content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
}
.panel-accordion .panel-body {
    padding: 0px!important;
}

.panel-search {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e4eaec;
    background: #fff;
}
.panel-search input {
    font-family: "Noto Sans",sans-serif;
    font-size: 18px;
    color: #76838f;
    background-color: #fff;
    border: none;
    width: 100%;
    height: 42px;
    padding-left: 41px;
}
.panel-search:before {
    content: "\f2f5";
    display: block!important;
    position: absolute!important;
    left: 14px;
    top: 10px;
    font-size: 17px;
    z-index: 20;
    cursor: pointer;
    color: #ABB6BD;
    font-family: Ionicons;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 0.7;
}
.panel-header-h{
    padding: 21px 0px 21px 5px;
    border-bottom: 1px solid #e4eaec;
    text-align: center;
        background: #f1f4f5;
}
.panel-group .panel-title.collapsess:before {
  opacity: .4!important;
}
.panel-group .panel-title.collapsess:after {
  opacity: 0!important;
  -webkit-transform: rotate(-180deg)!important;
      -ms-transform: rotate(-180deg)!important;
       -o-transform: rotate(-180deg)!important;
          transform: rotate(-180deg)!important;
}
.panel-group .panel-title:before {
  opacity: 0!important;
  -webkit-transform: rotate(180deg)!important;
      -ms-transform: rotate(180deg)!important;
       -o-transform: rotate(180deg)!important;
          transform: rotate(180deg)!important;
}
.panel-group .panel-title:after {
  opacity: 1!important;
}

.loader-choice{
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}

.wb-search-p {
    display: block!important;
    position: absolute!important;
    right: 11px;
    top: 20px;
    font-size: 25px;
    z-index: 20;
    cursor: pointer;
    color: #ABB6BD;
}
.wb-search-p:hover{
    text-decoration: none;
}
.popover_search_list{
    display: none;
}
.popover_search_list .p_search_list_dropdown{
    width: 4px;
    position: absolute;
    z-index: 1200;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #e4eaec;
    margin-top: -1px;
    overflow-x: hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.popover_search_list .p_search_list_results__options {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}
.popover_search_list .p_search_list_results__option:hover {
    background: #F1F4F5;
}
.popover_search_list .p_search_list_results__option {
    padding: 5px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ct-elem-base > div{
    display: inline-block;
}

.panel-header-block{
    text-align: center;
}

.panel-header-block .header-select-city{
    border-bottom: 2px dashed #62a8ea;
    display: inline;
    color: #62a8ea;
    cursor: pointer;
}

.panel-header-block .header-select-city:hover{
    border-bottom: 2px dashed #89bceb;
    color: #89bceb;
}

.panel-header-block h1{
    margin-top: 0;
    padding-top: 20px;
    font-family: pfhighway, Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.panel-header-block h2{
    font-family: pfhighway, Helvetica, Arial, sans-serif;
    font-weight: 100;
        font-size: 28px;
}

.ui-btn {
    font-size: 16px;
    margin: .5em 0;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-listview.new > li h2, .ui-listview.new > li h3, .ui-listview.new > li h4, .ui-listview.new > li h5, .ui-listview.new > li h6 {
    font-size: 1em;
    font-weight: bold;
    display: block;
    margin: .45em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
        padding: 0;
    text-shadow: none;
}

.ui-listview.new  > li p {
    font-size: .75em;
    font-weight: normal;
    display: block;
    margin: .6em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}

.ui-listview.new .ui-li-has-thumb > .ui-btn > img:first-child {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 5em;
    max-width: 5em;
}

.ui-listview.new .ui-li-has-thumb>.ui-btn>img:first-child {
    top: 1em;
    left: 1em;
    height: 3em;
    width: 3em;
}

.ui-listview.new>li>a.ui-btn {
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ui-listview.new>li>a.ui-btn {
   /* border-width: 1px 0 0 0;
    border-style: solid;*/
}

.ui-listview.new>.ui-li-has-thumb>.ui-btn {
    min-height: 3.625em;
    padding-left: 6.25em;
}

.ui-listview.new>li.ui-li-has-alt>.ui-btn {
    margin-right:0;
    border-right-width: 0;
}

.ui-listview a {
    background-color: #fff;
    border-color: #ddd;
    color: #333;
}
.ui-listview a:hover{
    text-decoration: none;
}

 .ui-listview.new>li:hover .ui-btn {
    background: #ededed;
}


.close-modal-button:after {
    background-image:url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
    background-color: #666;
    background-color: rgba(0,0,0,.15);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    right: .5625em;
    top: 50%;
    margin-top: -11px;
    content: "";
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
}

#UserChoicetFillIn .close-modal-close {
    opacity: 1;
    z-index: 122222222222;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    outline: none;
    width: 70px;
    height: 60px;
}

#UserChoicetFillIn  .close .icon {
    color: #6D6D6D;
    font-size: 28px;
}
#UserChoicetFillIn  .close:hover .icon {
    opacity: .6;
}

#UserChoicetFillIn .modal-sm {
    width: 100%!important;
}
/*
#UserChoicetFillIn .close-modal-close {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}*/

.steper-back{
    opacity: 1;
    z-index: 122222222222;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    outline: none;
    width: 70px;
    height: 60px;
    padding: 15px 30px;
    cursor: pointer;
}

.steper-back .icon{
    color: #6D6D6D;
    font-size: 28px;
}

.steper-back:hover .icon {
    opacity: .6;
}

.block__finish .form-control{
    height: 60px;
    font-size: 26px;
    max-width: 350px;
    margin: 0 auto;
}

.block__finish .help-block{
    max-width: 350px;
    margin: 0 auto;
}

.block__finish label.to-form-control{
    text-align: center;
    width: 100%;
}

.modal-body.finish, .modal-body.result, .modal-body.calculation{
    height: 100%;
}

.block__finish{
    display: table;
    width: 98%;
    height: 85%;
    margin: 0 auto;
}
.block__finish .form-group{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

.block__finish .finish-button{
    height: 60px!important;
    width: 100%!important;
    border-radius: 100px;
    background-color: #ffdd2e;
    color: #000;
    border: none;
    margin: 0 auto;
    font-size: 24px;
        -webkit-border-radius: 2em;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2em;
    -moz-background-clip: padding;
    border-radius: 2em;
    background-clip: padding-box;
    outline: 0;
    background: #ffdd2e;
    -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,.25),0 1px 0 0 #b59d21;
    -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,.25),0 1px 0 0 #b59d21;
    box-shadow: inset 0 2px 0 rgba(255,255,255,.25),0 1px 0 0 #b59d21;
}

.block__finish .finish-button:hover, .block__finish .finish-button:active{
    background-color: #ffcd33;
    color: #000;
}

.block__finish .finish-button-block{
    text-align: center;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 350px;
}

.header-select-city .ion-ios-arrow-down:before{
    content: "\f3d0";
    padding-top: 0;
    position: absolute;
    width: 35px;
    top: -20px;
    right: -6px;
}
.header-select-city .ion-ios-arrow-down{
    margin-right: 0;
    width: 20px;
    position: relative;
}

.form-control-step-block{
    text-align: center;
    margin-top: 10px;
}

.form-control-step{
    display: inline-block;
    margin-right: 8px;
    height: 55px!important;
    width: 55px!important;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.steper.no-items .panel-search, .steper.no-items .noselect.panel-group{
    display: none;
}

.steper .loader-models{
    display: none;
}

.steper.no-items .loader-models{
    display: inline-block;
    margin-top: 6%;
    left: 50%;
}

.block-loading{
    position: absolute;
    top: 41%;
    width: 100%;
    text-align: center;
}

.panel-header-h{
        font-family: pragmatica!important;
}

/*new*/
#hamburger {
    float: left;
    cursor: pointer;
    margin: 0;
    margin-top: -5px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    position: relative;
    /*right: 14px;
    top: 62px;*/
    z-index: 999;
    display: block;
    width: 68px;
    height: 68px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#hamburger path {
    stroke: black;
}

#hamburger .bottom,
#hamburger .top {
    background: black;
}

.hamburglar {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: relative;
    display: block;
    width: 68px;
    height: 68px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamburglar .top,
.hamburglar .bottom {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: #1b1f23;
}

.hamburglar .top {
    top: 19px;
    left: 14px;
}

.hamburglar .bottom {
    top: 41px;
    left: 14px;
}

.hamburglar path,
line {
    stroke: #1b1f23;
    stroke-linecap: round;
}

.hamburglar .top,
.hamburglar .bottom {
    -webkit-transform-origin: 34px 2px;
    -ms-transform-origin: 34px 2px;
    transform-origin: 34px 2px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
    transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
}

.hamburglar .circle {
    stroke-dasharray: 1 100 32 300;
    stroke-dashoffset: 101;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
}

.hamburglar.is-closed .circle {
    stroke-dasharray: 1 100 190 300;
    stroke-dashoffset: 2;
}

.hamburglar.is-closed .top {
    -webkit-transform: translateX(-4.5px) rotate(-45deg);
    -ms-transform: translateX(-4.5px) rotate(-45deg);
    transform: translateX(-4.5px) rotate(-45deg);
}

.hamburglar.is-closed .bottom {
    -webkit-transform: translateX(-4.5px) rotate(45deg);
    -ms-transform: translateX(-4.5px) rotate(45deg);
    transform: translateX(-4.5px) rotate(45deg);
}

.hamburglar:hover path{
    stroke: #00aff2!important;
}

.hamburglar:hover .bottom, .hamburglar:hover .top {
    background: #00aff2!important;
}


.header-fixed {
    background: white;
    position: fixed;
    top: 0;
    transition: all 300ms ease-in-out;
    width: 100%;
    z-index: 1800;
    height: 56px;
}

.header-fixed .hamburglar{
    position: absolute!important;

}

.header-fixed .header-search{
    position: absolute;
    right: 20px;
    font-size: 38px;
    cursor: pointer;
}

.header-fixed .header-title{
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: #00aff2;
    font-weight: 500;
    font-family: Calibri;
    padding-top: 6px;
}

.page{
    margin-top: 60px;
}

.header-select-city .ion-ios-arrow-down:before {
    content: "\f3d0";
    padding-top: 0;
    position: absolute;
    width: 35px;
    top: -28px;
    right: -6px;
}

#ModalChoiceCityFillIn{
    z-index: 1900;

}

#ModalChoiceCityFillIn .modal-dialog.modal-sidebar{
    width: 100%;
        display: block;
}

#ModalChoiceCityFillIn  .close-modal-close {
    opacity: 1;
    width: 70px;
    height: 60px;
}
#ModalChoiceCityFillIn  .close-modal-close, .steper-back {
    z-index: 122222222222;
    left: 0;
    right: 0;
    top: 5px;
    outline: 0;
    position: absolute;
}

#ModalChoiceCityFillIn .panel-group{
    margin-bottom: 0;
}

.popover_search_list{
    display: none;
}
.popover_search_list .p_search_list_dropdown{
    width: 4px;
    position: absolute;
    z-index: 1200;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #e4eaec;
    margin-top: -1px;
    overflow-x: hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.popover_search_list .p_search_list_results__options {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}
.popover_search_list .p_search_list_results__option:hover {
    background: #F1F4F5;
}
.popover_search_list .p_search_list_results__option {
    padding: 5px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*** callback button ***/
@font-face {
  font-family: 'cbh-icons';
  src: url("https://oxiv.ru/static/fonts/custom/cbh-icons.eot?r3673");
  src: url("https://oxiv.ru/static/fonts/custom/cbh-icons.eot?r3673") format("embedded-opentype"), url("https://oxiv.ru/static/fonts/custom/cbh-icons.woff?r3673") format("woff"), url("https://oxiv.ru/static/fonts/custom/cbh-icons.ttf?r3673") format("truetype"), url("https://oxiv.ru/static/fonts/custom/cbh-icons.svg?r3673") format("svg");
  font-weight: normal;
  font-style: normal; }

#cbh_mobile_widget_wrapper * {
    max-width: none;
    overflow-x: visible;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

#cbh_mobile_widget_wrapper .cbh-mobile-body.cbh-mobile-white .cbh-mobile-about p.cbh-mobile-skip a {
      color: #333 !important;
      text-decoration: none; }
#cbh_mobile_widget_wrapper .cbh-mobile-body .cbh-show,
#cbh_mobile_widget_wrapper .cbh-banner-bg.cbh-show {
  display: block !important; }
#cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper {
  position: fixed;
  bottom: 30px;
  text-align: center;
  width: 100%;}
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper #cbh_phone {
    -webkit-animation: cbh-icon-resize ease-in-out 1.5s;
            animation: cbh-icon-resize ease-in-out 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget {
    color: #00aff2;
    display: inline-block;
    width: 250px !important;
    height: 85px !important;
    overflow: hidden !important;
    font-size: 113px !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) !important;
    *
    zoom: 1;
    }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-bg-icon, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-content {
      font-family: 'cbh-icons' !important;
      speak: none !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      line-height: 1 !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-content * {
      font-family: 'cbh-icons' !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-bg-icon:before {
      /*content: "\e601";*/ }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-phone-icon:before {
      /*content: "\e600";*/ }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-call-icon:before {
     /* content: "\e603";*/ }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-slow .cbh-widget-global-icon .cbh-widget-phone {
      -webkit-animation: cbh-widget-live-slow 4s infinite;
              animation: cbh-widget-live-slow 4s infinite;
      opacity: 1 !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-slow .cbh-widget-global-icon {
      visibility: visible !important;
      left: 0 !important;
      opacity: 1 !important;
      text-align: left; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-fast .cbh-widget-global-icon .cbh-widget-phone {
      -webkit-animation: cbh-widget-live 0.7s infinite;
              animation: cbh-widget-live 0.7s infinite;
      opacity: 1 !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-pulse {
      -webkit-animation: cbh-widget-pulse 0.7s infinite;
              animation: cbh-widget-pulse 0.7s infinite; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget.cbh-show .cbh-widget-global-icon {
      visibility: visible !important;
      left: 0 !important;
      opacity: 1 !important;
      text-align: left; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-global-icon {
      position: absolute !important;
      width: 250px !important;
      height: 78px !important;
      left: 59.89px !important;
      top: 0 !important;
      -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
      visibility: hidden !important;
      opacity: 0 !important;
      }
      #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-global-icon:hover {
        opacity: 1 !important; }
      #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-bg {
        position: absolute !important;
        width: 200px !important;
        height: 76px !important;
        left: 0 !important;
        top: 0 !important;
        -webkit-animation: cbh-widget-opacity-pulse 1s infinite;
        animation: cbh-widget-opacity-pulse 1s infinite;
        -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        /* border-radius: 500px; */
        }
        #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-bg .cbh-bg-icon {
          position: absolute !important;
          width: 250px !important;
          height: 80px !important;
          -webkit-border-radius: 56.5px !important;
          border-radius: 56.5px !important;
          -webkit-transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 0.65s cubic-bezier(0.19, 1, 0.22, 1);
          background-color: #00aff2;
          }
  /*#cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-global-icon:hover .cbh-widget-content div,
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget.cbh-pulse .cbh-widget-global-icon .cbh-widget-content div {
    display: none !important; }*/
#cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-global-icon:hover .cbh-widget-content .cbh-widget-phone {
 display: none !important;
}
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget.cbh-pulse .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone {
    display: block !important; }
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon:hover .cbh-widget-content .cbh-widget-call, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-rotate-icon {
    display: block !important;
    opacity: 1 !important;

    -webkit-transform: perspective(400px) rotateY(0deg) scale(1) translateZ(20px) !important;
            transform: perspective(400px) rotateY(0deg) scale(1) translateZ(20px) !important; }
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content div {
    display: block;
    opacity: 0;
    position: absolute !important;
    *zoom: 1;
    -webkit-transform: perspective(400px) rotateY(-180deg) scale(0.4);
            transform: perspective(400px) rotateY(-180deg) scale(0.4);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content div span {
      position: absolute !important;
      color: white; }
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone {
    width: 100%;
          padding-top: 27px;}
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone .cbh-widget-phone-icon {
     width: 100%; }
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-call {
       width: 100%;
          padding-top: 27px;
}
   #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-call .cbh-widget-call-icon {
       width: 100%;
}
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-rating {
    top: 41.81px !important;
    left: 22.6px !important;
    height: 59.89px !important;
    width: 59.89px !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-rating .cbh-widget-rating-icon {
      top: 1px !important;
      left: 1px !important;
      font-size: 70.06px !important;
      line-height: 70.06px !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-rating .cbh-widget-rating-value {
      top: -21.018px !important;
      left: 0 !important;
      font-size: 45.2px !important;
      line-height: 45.2px !important; }
  #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-logo {
    top: 21.018px !important;
    left: 25.99px !important;
    height: 59.89px !important;
    width: 59.89px !important; }
    #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content .cbh-widget-logo .cbh-widget-logo-icon {
      top: 1px !important;
      left: 1px !important;
      font-size: 70.06px !important;
      line-height: 70.06px !important; }
#cbh_mobile_widget_wrapper .cbh-clear:before, #cbh_mobile_widget_wrapper .cbh-mobile-body .cbh-just-block:before, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget:before, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content div:before, #cbh_mobile_widget_wrapper .CBH-masks:before, #cbh_mobile_widget_wrapper .cbh-clear:after, #cbh_mobile_widget_wrapper .cbh-mobile-body .cbh-just-block:after, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget:after, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content div:after, #cbh_mobile_widget_wrapper .CBH-masks:after {
  content: " ";
  display: table; }
#cbh_mobile_widget_wrapper .cbh-clear:after, #cbh_mobile_widget_wrapper .cbh-mobile-body .cbh-just-block:after, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget:after, #cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-widget-global-icon .cbh-widget-content div:after, #cbh_mobile_widget_wrapper .CBH-masks:after {
  clear: both; }


#cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-call-icon .cbh-widget-call-icon-p {
    font-family: sans-serif!important;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


#cbh_mobile_widget_wrapper .cbh-mobile-phone-wrapper .cbh-mobile-widget .cbh-widget-phone-icon .cbh-widget-phone-icon-p {
    font-family: sans-serif!important;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}



@keyframes cbh-icon-resize{
  0% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
            transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    opacity:0.5;
    -webkit-transform:  scaleX(0.75) scaleY(0.75) ;
            transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
            transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes cbh-icon-resize {
  0% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  50% {
    opacity:0.5;
    -webkit-transform:  scaleX(0.75) scaleY(0.75) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}
/*** end callback button ***/

.no-page{
    display: none!important;
}

.stepback-button {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}


.stepback-button{
    left: 20px;
    top: 5px;
    outline: 0;
    position: absolute;
    float: right;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: none;
    z-index: 1200;
}

.stepback-button:hover{
    opacity: .6;
}