
{% extends 'cabinet/base.html' %}
{% load static %}

{% block title %}Личный кабинет {% endblock %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/cabinet.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/ionicons/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/web-icons/web-icons.min.css' %}">
{% endblock %}

{% block content %}

<!-- start base block -->
<div class="header-fixed">
    <div id="hamburger" class="hamburglar is-open">
        <div class="top"></div>
             <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                                    <path class="circle" fill="none" stroke-width="4" stroke-miterlimit="10" d="M16,32h32c0,0,11.723-0.306,10.75-11
                                    c-0.25-2.75-1.644-4.971-2.869-7.151C50.728,7.08,42.767,2.569,33.733,2.054C33.159,2.033,32.599,2,32,2C15.432,2,2,15.432,2,32
                                    c0,16.566,13.432,30,30,30c16.566,0,30-13.434,30-30C62,15.5,48.5,2,32,2S1.875,15.5,1.875,32"></path>
             </svg>
        <div class="bottom"></div>
    </div>
    <div id="search" class="header-search is-close">
        <i class="icon ion-ios-search" aria-hidden="true"></i>
    </div>
    <h1 class="header-title">itemo</h1>
</div>
<!-- end base block -->

<!-- header page -->
<div class="panel-header-block">
		<h1>Мои заявки</h1>
</div>
<!-- end header page -->

<!-- page -->
<div  class="page col-lg-12 col-md-18">
    <div class="row">
        <div class="super__block col-lg-12 col-md-18">
            <div class="cabinet_leads_block">
                <div class="cabinet_leads_list">
                    {% include 'cabinet/leads/lead.html' %}
                </div>
            </div>
            <div class="cabinet_leads_footer">
                <div class="cabinet_add_lead">
                    <i class="wb-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page -->

{% include 'cabinet/leads/detail_lead.html' %}

{% endblock %}