<div data-slug="{{ slug }}" data-step="{{ step }}" class="page pages-step-{{ step }}">

<div class="super__block">

    <button  type="button" class="stepback stepback-button">
       <i class="icon ion-ios-arrow-back" aria-hidden="true"></i>
    </button>

    <!-- step 1 start -->

    <div style="padding:0; display: block;" class="modal-body steper step-1">
	<div class="panel-header-block">
		<h1>{{ name }}<br>
            в <span id="choicecity" class="header-select-city"><span data-name="{% if geo %}{{ geo.region_name }}{% else %} в вашем городе {% endif %}" class="header-select-text">{% if geo %}{{ geo.region_name }}{% else %} в вашем городе {% endif %}</span> <i class="icon ion-ios-arrow-down" style="margin-right: 0" aria-hidden="true"></i></span>
        </h1>
        <h2>
            Скидка до 75%
        </h2>
	</div>




	<div class="noselect panel-group " id="AccordionContinuous" aria-multiselectable="true" role="tablist">
		<div class="panel-accordion">
			<div class="panel-collapse " id="CollapseContinuousOne" aria-labelledby="HeadingContinuousOne" role="tabpanel" aria-expanded="false">
				<div class="panel-body">

                    <ul data-role="listview " data-inset="true" data-split-icon="info" class="ui-listview new ui-listview-inset ui-corner-all ui-shadow">
	                    <li data-id="1" data-step="2" data-slug="Stroitelstvo" data-name="Строительство" class="ui-li-has-alt ui-li-has-thumb next-page ui-first-child">
	                        <a class="ui-btn choice-elem">
	                            <h2>Строительные материалы</h2>
	                            <p>Скидка 10%</p>
	                        </a>
	                    </li>
                        <li data-id="1" data-step="2" data-slug="Stroitelstvo" data-name="Строительство" class="ui-li-has-alt ui-li-has-thumb next-page ui-first-child">
	                        <a class="ui-btn choice-elem">
	                            <h2>Водо, газо, теплообеспечение</h2>
	                            <p>Скидка 30%</p>
	                        </a>
	                    </li>
                    </ul>

				</div>
			</div>
		</div>
	</div>

    </div>
    <!-- step 1 end -->

</div>

</div>